In [9]:
from pickleshare import print_function
def angka_terbesar (a, b, c):
  if a > b and a > c:
    return a
  elif b > a and b > c:
    return b

  return c

def angka_terkecil (a, b, c):
  if a < b and a < c:
    return a
  elif b < a and b < c:
    return b

  return c

def nilai_tengah (a, b, c):
  if (b > a > c) or (c > a > b):
    return a
  elif (a > b > c) or  (c > b > a):
    return b
  
  return c

a, b, c = (
  int(input('Masukkan nilai a: ')),
  int(input('Masukkan nilai b: ')),
  int(input('Masukkan nilai c: '))
)

i1 = angka_terkecil(a, b, c)
i2 = nilai_tengah(a, b, c)
i3 = angka_terbesar(a, b, c)

if (i1 > 0) and (i2 > 0) and (i3 > 0):
  print(f'Urutan: {i3}, {i2}, {i1}')
elif (len(str(i1)) > 1) and (len(str(i2)) > 1) and (len(str(i3)) > 1):
  print('null','null','null')
else:
  print('null','null','null')

Masukkan nilai a: 3
Masukkan nilai b: 1
Masukkan nilai c: 2
Urutan: 3, 2, 1